body {
  margin: 0;
  font-family: Arial;
  background: #f4fff4;
}

.navbar {
  background: green;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.nav-links button {
  margin-left: 10px;
  padding: 5px 10px;
}

.landing {
  text-align: center;
  padding: 100px;
  background: url("./components/backgroud_imege_photo.jpg")  center/cover no-repeat fixed; 
  background-size: cover;
  color: white;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cart-container {
  padding: 20px;
}

.cart-card {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}